<nb-card>
    <nb-card-header>
        Update Item
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="form">
            <div class="full-width">
                <label for="category"><b>Category</b></label>
                <select formControlName="category" name="category">
                    <option *ngFor="let vr of (vr$|async)" [value]="vr.id">
                        {{vr.Category}}
                    </option>
                </select>
            </div>
            <div class="full-width">
                <label for="quantity"><b>Quanity</b></label>
                <input type="number" placeholder="Enter quantity" formControlName="quantity" name="quantity">
                <span>{{(mesureIn | qantity | async)?.Name}}</span>
            </div>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <button class="quick-margin" nbButton status="primary" (click)="updateItem()">Update</button>
        <button class="quick-margin" nbButton status="danger" (click)="close()">Cancel</button>
    </nb-card-footer>
</nb-card>