<form [formGroup]="addItemForm" autocomplete="off">
    <div class="container">
        <h1>Add Item</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>
        <label for="name"><b>Name</b></label>
        <input type="text" placeholder="Enter name" formControlName="name" name="name">

        <label for="company"><b>Manufacturer</b></label>
        <input type="text" placeholder="Enter manufacturer name" formControlName="company" name="company">

        <label for="quantity"><b>Quanity</b></label>
        <input type="number" placeholder="Enter quantity" formControlName="quantity" name="quantity">
        <label for="measureIn"><b>Measure In</b></label>
        <select formControlName="measureIn" name="measureIn">
            <option *ngFor="let measure of (units$|async)" [value]="measure.id">
                {{measure.data().Name}}
            </option>
        </select>
        <!-- <input type="password" placeholder="Enter Password" formControlName="password" name="psw"> -->
        <nb-card size="large">
            <nb-card-body>
                <input nbInput placeholder="Pick Expiry Date" [nbDatepicker]="formpicker"
                    [formControl]="addItemForm.get('expiry')">
                <nb-datepicker #formpicker></nb-datepicker>
            </nb-card-body>
        </nb-card>
        <label for="category"><b>Type</b></label>
        <select formControlName="category" name="category">
            <option *ngFor="let vr of (vr$|async)" [value]="vr.id">
                {{vr.data().Category}}
            </option>
        </select>
        <hr>
        <button type="submit" class="registerbtn" (click)="addItem()">Register</button>
    </div>
</form>