<table id="kitchen-items">
        <tr>
                <th>
                        <span class="sort-header">
                                Category
                                <nb-action *ngIf="sort.ASC === sortModel.category;else categoryHeader"
                                        class="sort-icon-display" icon="arrow-upward-outline" title="Sort"
                                        (click)="sortTable(sort.ASC,'category')">
                                </nb-action>
                                <ng-template #categoryHeader>
                                        <nb-action class="sort-icon-display" icon="arrow-downward-outline" title="Sort"
                                                (click)="sortTable(sort.DESC,'category')">
                                        </nb-action>
                                </ng-template>
                        </span>
                </th>
                <th>
                        <span class="sort-header">
                                Name
                                <nb-action *ngIf="sort.ASC === sortModel.name;else nameHeader" class="sort-icon-display"
                                        icon="arrow-upward-outline" title="Sort" (click)="sortTable(sort.ASC,'name')">
                                </nb-action>
                                <ng-template #nameHeader>
                                        <nb-action class="sort-icon-display" icon="arrow-downward-outline" title="Sort"
                                                (click)="sortTable(sort.DESC,'name')">
                                        </nb-action>
                                </ng-template>
                        </span></th>
                <th>
                        <span class="sort-header">
                                Company
                                <nb-action *ngIf="sort.ASC === sortModel.company;else companyHeader"
                                        class="sort-icon-display" icon="arrow-upward-outline" title="Sort"
                                        (click)="sortTable(sort.ASC,'company')">
                                </nb-action>
                                <ng-template #companyHeader>
                                        <nb-action class="sort-icon-display" icon="arrow-downward-outline" title="Sort"
                                                (click)="sortTable(sort.DESC,'company')">
                                        </nb-action>
                                </ng-template>
                        </span></th>
                <th>
                        <span class="sort-header">
                                Expiry
                                <nb-action *ngIf="sort.ASC === sortModel.expiry;else expiryHeader"
                                        class="sort-icon-display" icon="arrow-upward-outline" title="Sort"
                                        (click)="sortTable(sort.ASC,'expiry')">
                                </nb-action>
                                <ng-template #expiryHeader>
                                        <nb-action class="sort-icon-display" icon="arrow-downward-outline" title="Sort"
                                                (click)="sortTable(sort.DESC,'expiry')">
                                        </nb-action>
                                </ng-template>
                        </span>
                </th>
                <th>Quantity</th>
                <th>Action
                        <nb-actions class="filter-table" size="small">
                                <nb-action  icon="funnel-outline" title="Filter">
                                </nb-action>
                        </nb-actions>

                </th>
        </tr>
        <tr *ngFor="let item of (items$ | async)">
                <td> {{(item.Category | variety | async)?.Category}}</td>
                <td>{{item.Name}}</td>
                <td>{{item.Company}}</td>
                <td>{{item.Expiry?.seconds * 1000 | date}}</td>
                <td>{{item.Quantity}} {{(item.MeasureIn | qantity | async)?.Name}}</td>
                <td>
                        <button *ngIf="hasExpired(item.Expiry);else editTemplate" nbButton fullWidth status="danger"
                                (click)="removeItem(item.id)">
                                Remove
                        </button>
                        <ng-template #editTemplate>
                                <button nbButton status="primary" fullWidth (click)="openEditDialog(item)">
                                        Edit
                                </button>
                        </ng-template>
                </td>
        </tr>
</table>